<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div align="center" class="border">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Login</h1>
            </div>
            <h2 class="word">
                <form action="/login" method="POST">
                    <div class="msg">{{msg}}</div>
                    <input id="username" name="username" type="text" placeholder="Enter your username"
                    class="textbook" /><br /><br />
                    <input id="password" name="password" type="text" placeholder="Enter your password"
                    class="textbook" /><br /><br />
                    <input type="submit" value="Sign in" class="btn" /><br /><br />
                </form>
            </h2>
            <p class="bottom">Don't have account?<a class="bottom" href="login.html"></a></p>
        </div>
    </div>
</body>
</html>